.general {
    font-family: "Lucida Sans Unicode";
}

.black {
    background-color: black;
    color: white;
}

.ash{
    background-color: #eee;
    color: black;
}

.component2{
    background-color: #44f;
    color: #eee;
    padding: 20px;
}

.black-text-reference{
    color: black;
}